<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title  %></title>
</head>
<body>
    <div class="container pt-5">
        <h1 class="heading">
            <span><%= htmlWebpackPlugin.options.title %></span>
            <button class="btn btn-info" id="theme">Сменить тему</button>
        </h1>
        <hr>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Счетчик: <span id="counter"></span></h5>
                <button class="btn btn-primary" id="plus">Плюс</button>
                <button class="btn btn-danger" id="minus">Минус</button>
                <button class="btn btn-success" id="reset">Сбросить</button>
            </div>
        </div>
    </div>
</body>
</html>
